[SecretConfig]
token = 193025875:AAHZ3hIanIau-Hg04B-mZREFBjLl6GvM9fk
admincid = 131728488

# Commands that you want to let the user execute
white_list = ['ls','date','hostname']

# Commands that the user should never execute 
black_list = ['rm','shred']